@charset "utf-8";

/*  -------------------------------------------------------------
    Nasqueron documentations web site
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    Project:        Nasqueron
    Author:         Sébastien Santoro aka Dereckson
    Dependencies:   Foundation
    Filename:       app.css
    Licence:        CC-BY 4.0, MIT, BSD-2-Clause (multi-licensing)
    -------------------------------------------------------------    */

/*  -------------------------------------------------------------
    Table of contents
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

    ::  Background
    ::  Split design
    ::  Smaller resolution design
    ::  Hero
    ::  Content

*/

/*  -------------------------------------------------------------
    Background
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */

body {
  background-image: url(/assets/img/old-books.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

/*  -------------------------------------------------------------
    Split design
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */

@media screen and (min-width: 1024px) {
  .app {
    height: 100vh;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;

    > div {
      width: 50vw;
    }

    #hero {
      padding: 5em;

      h1 {
        margin-bottom: 10vh;
      }
    }

    #content {
      height: 100vh;

      padding: 20vh 5vw;
    }
  }
}

/*  -------------------------------------------------------------
    Smaller resolution design
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */

@media screen and (max-width: 1023px) {
  .app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    min-height: 100vh;

    #hero {
      padding: 5vh 1em;
    }

    #content {
      padding: 5vh 2em;
    }
  }
}

/*  -------------------------------------------------------------
    Hero
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */

#hero {
  text-align: center;

  .subheader {
    color: hsla(12, 51%, 69%, 1);
    text-shadow: 3px 3px 10px #0a0200;
  }
}

/*  -------------------------------------------------------------
    Content
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */

#content {
  background-color: rgba(148, 67, 46, 1);

  section {
    margin-bottom: 10vh;
  }

  li {
    margin-bottom: 1em;
  }
}
